*.egg-info
*.mo
*.pyc
.installed.cfg
.mr.developer.cfg
.project
.pydevproject
.settings/
bin/
buildout-cache/
develop-eggs/
parts/
src/*
!src/urban
var/
htmlcov/
.coverage
*.html
*.log
output.xml
*.swp
/.idea/
/lib/
/venv/
/share/
pyenv.cfg
*.code-workspace
lotissements_*.csv